%YAML 1.1
--- !SystemList &1
name: !<str> ""
guid: {a: 16883343969223496704, b: 13695402843919777417}
systemList:
  - !<str> EventSystem
  - !<str> TransformSystem
  - !<str> CameraSystem
  - !<str> JSScriptSystem
  - !<str> BuiltinObjectSystem
  - !<str> TimerSystem
  - !<str> MeshRendererSystem
  - !<str> LightSystem
  - !<str> RenderSystem
  - !<str> VideoAnimSeqSystem
  - !<str> Sprite2DRendererSystem